<h2><%= facade.students.count %> Students

<div class='members'>
  <% facade.students.each do |student| %>
  <ul class='.single_student'>
    <li class='name'> <%= student.name %></li>
    </ul>
  <% end %>
</div>
